.testGroup {
    width: 95%;
    margin: 1% auto 0 auto;
}

.passed {
    background-color: rgba(65, 222, 136, 0.56);
    border: 1px solid dimgrey;
}

.failed {
    background-color: rgba(234, 48, 33, 0.55);
    border: 1px solid dimgrey;
}

ul {
    list-style-type: none;
}
