body {
    background-color: black;
}

.balls {
    width: 300px;
    height: 100px;
    padding-top: 100px;
    margin: 0 auto;
}

.ball {
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 40px;
}

    @keyframes move_ball {
        0% {
            transform: translateY(-100px);
        }
        50% {
            transform: translateY(200px);
            opacity: 0.1;
        }
        100% {
            transform: translateY(-100px);
        }
    }

#a {
    color: red;
    animation: move_ball 4.05s infinite ease-in-out;
}

#b {
    color: darkseagreen;
    animation: move_ball 4.15s infinite ease-in-out;
}

#c {
    color: cadetblue;
    animation: move_ball 4.25s infinite ease-in-out;
}

#d {
    color: yellow;
    animation: move_ball 4.00s infinite ease-in-out;
}

#e {
    color: darkslategrey;
    animation: move_ball 4.10s infinite ease-in-out;
}

#f {
    color: orange;
    animation: move_ball 4.20s infinite ease-in-out;
}

#g {
    color: steelblue;
    animation: move_ball 4.00s infinite ease-in-out;
}