body {
    margin: 0 0 0 0;
    font-family: Arial, serif;
    font-size: 1.5vw;
}

.container {
    width: 90%;
}

/* HEADER */

header {
    background-color: #0a64eb;
    color: white;
    overflow: hidden;
}

.navbar {
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.navbar-inverse {
    background: #0a64eb;
}

.header_icon:hover {
    opacity: 0.8;
    text-decoration: none;
}

#logo_pic, #logo_text, #site-options-nav {
    display: inline-block;
    vertical-align: middle;
}

#logo_pic {
    margin: 5px 5px 5px 5px;
}

#logo_text {
    text-decoration: none;
    color: white;
    font-size: 105%;
}

#site-options-nav a {
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 75%;
    line-height: 300%;
}

/* SECTION */

section {
    margin: 13px auto 0 auto;
}

section div span {
    font-size: 75%;
}

textarea[placeholder] {
    letter-spacing: -0.04em;
}

button {
    font-size: 76%;
    float: right;
}

#users {
    margin-top: 2%;
}

.user {
    margin-top: 10px;
    margin-bottom: 10px;
}

.userpic, .userinfo {
    display: inline-block;
    vertical-align: middle;
}

.username {
    font-weight: bold;
}