body {
    margin: 0 0 0 0;
    font-family: Arial, serif;
    font-size: 1.5vw;
}

.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
}

/* HEADER */

header {
    background-color: #0a64eb;
    color: white;
    overflow: hidden;
}

.navbar {
    border: 1px solid transparent;
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.navbar-inverse {
    background: #0a64eb;
}

.header_icon:hover {
    opacity: 0.8;
    text-decoration: none;
}

#logo_pic, #logo_text, #site-options-nav {
    display: inline-block;
    vertical-align: middle;
}

#logo_pic {
    margin: 5px 5px 5px 5px;
}

#logo_text {
    text-decoration: none;
    color: white;
    font-size: 105%;
}

#site-options-nav a {
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 75%;
    line-height: 300%;
}

/* SECTION */

section {
    margin-top: 13px;
}

section div span {
    font-size: 75%;
}

input, button {
    font-size: 75%;
}

#followees {
    border: 5px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
}

#users {
    margin-top: 1%;
}

.user {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
    width: 14%;
    height: 180px;
}

.user:hover {
    border-color: #cecece;
}

.user img {
    margin: 8% 0 8% 0;
}

.user button {
    margin-bottom: 20%;
}